* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

/*  PAGE CONTENT CONTAINER */
.content {
  height: 100vh;
  display: none;
  margin: 0 auto;
  background: radial-gradient(#F5F5F5, #888888);
}

/* LOADING SCREAN CONTAINER*/
.loadingScrean {
  width: 100%;
  height: 100vh;
  background: black;
  display: block;
  text-align: center;
}

/* LOADING SCREAN ANIMATION CONTAINER*/
.loadingAnimation {
  width: 25vw;
  height: 25vh;
  align: center;
  margin: auto auto;
  position: absolute;
  top: 30vh;
  right: 0;
  left: 0;
}

/* SVG LOGO CONTAINER*/
.svgLogo {
  width: 30vw;
  margin: 0 auto;
}

@media only screen and (max-width: 1920px) {
  .svgLogo {
    width: 50vw;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1000px) {
  .svgLogo {
    width: 70vw;
    margin: 0 auto;
    padding-top: 90px;
  }
}

/* FLEXBOX ROW (COLORPICKERS)*/
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  top: 5vh;
}

/* COLORPICKER TITLES*/
.title {
  line-height: 20px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-family: helvetica;
  color: black;
  font-weight: bold;
}

/* COLORPICKER CONTAINER*/
.element {
  margin: 5px 15px;
}

/* COLORPICKER*/
.picker {
  padding: 5px 30px 10px 30px;
}

/* TOGLE BUTTONS*/
.buttons {
  margin: 0 auto;
}

/* NAVIGATION BUTTON*/
.button {
  margin: 1vh auto 0 auto;
  width: 30%;
  text-align: center;
  color: black;
  background: white;
  font-family: helvetica;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 0 5px 0;
}

.button:hover {
  background: black;
  color: white;
  -webkit-box-shadow: inset 0px 0px 0px 3px white;
  -moz-box-shadow: inset 0px 0px 0px 3px white;
  box-shadow: inset 0px 0px 0px 3px white;
}

/* MERCURIAL VAPOR CONTAINER*/
.mercurialVapor {
  display: none;
}

/* LOADING SCREAN ROTATING CIRCLE*/
.rotate {
  display: block;
  width: 300px;
  margin: 0 auto;
  -webkit-animation: rotation 8s infinite ease-in;
}

/* LOADING SCREAN CONTAINER*/
.nikeID {
  margin: 0 auto;
}

/* LOADING SCREAN TEXT*/
.nikeIDText {
  width: 300px;
  padding-top: 10px;
  align: center;
}

.c1 {
  margin-top: -80px;
}

@media only screen and (max-width: 1600px) {

  /* LOADING SCREAN ROTATING CIRCLE*/
  .rotate {
    display: block;
    width: 12vw;
    margin: 0 auto;
    -webkit-animation: rotation 8s infinite ease-in;
  }

  /* LOADING SCREAN CONTAINER*/
  .nikeID {
    margin: 0 auto;
  }

  /* LOADING SCREAN TEXT*/
  .nikeIDText {
    width: 17vw;
    padding-top: 1vw;
    align: center;
  }

  /* CANVAS*/
  .c1 {
    margin-top: -50px;
  }
}

@media only screen and (max-width: 500px) {

  /* LOADING SCREAN ROTATING CIRCLE*/
  .rotate {
    display: block;
    width: 30vw;
    margin: 0 auto;
    -webkit-animation: rotation 8s infinite ease-in;
  }

  /* LOADING SCREAN CONTAINER*/
  .nikeID {
    margin: 0 auto;
    background: pink;
  }

  /* LOADING SCREAN TEXT*/
  .nikeIDText {
    width: 35vw;
    padding-top: 1vw;
    align: center;
  }

  /* CANVAS*/
  .c1 {
    margin: 0 auto;
  }

  /* COLORPICKER CONTAINER*/
  .element {
    margin: 5px 100px;
  }
}

/*   NAVIGATION BAR  */
.nav {
  width: 100%;
  /*   height: 10vh;  */
  background: black;
  padding-bottom: 1vh;
}

.headerCircle {
  height: 5vh;
  padding-top: 2vh;
}

.headerText {
  height: 5vh;
}

.headerIcons {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

#airForce1Button {
  display: none;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}